/* 风格样式设置 */
.cz-title {
	font-size: 18px;
	font-weight: 700;
	/* color: rgba(0, 0, 0, 0.8); */
	color: #eee;
}

.cz-sub-title {
	font-size: 16px;
	font-weight: 500;
	/* color: rgba(0, 0, 0, 0.7); */
	color: #eee;
}

.cz-meta {
	font-size: 12px;
	color: #b4b4b4;
}
.cz-black-font {
	color: #212529;
	font-size: 14px;
}

/* 主题设置 */
.cz-primary-theme {
	background-color: #009688;
	color: #fff;
}
.cz-warning-theme {
	background-color: #fb8c00;
	color: #fff;
}
.cz-success-theme {
	background-color: #4caf50;
	color: #fff;
}
.cz-disable-theme {
	background-color: #e0e0e0;
	color: #fff;
}
.cz-blue-theme {
	background-color: rgb(65, 105, 225);
	color: #eee;
}

/* 按钮 */
.cz-btn {
	border: none;
	cursor: pointer;
	margin: 5px;
}
.cz-btn-round {
	border-radius: 20px;
}
.cz-btn-circle {
	border-radius: 50%;
}
.cz-btn-small {
	width: 60px;
	height: 30px;
}
.cz-btn-normal {
	width: 120px;
	height: 35px;
}
.cz-btn-large {
	width: 140px;
	height: 45px;
}
.btn-follow {
	background-color: #42c02e;
	font-weight: 400;
	font-size: 15px;
	color: #fff;
	padding: 5px 0;
	width: 80px;
	height: 30px;
	border-radius: 40px;
	display: inline-block;
	text-align: center;
}
/* 表单元素样式 */
.cz-input-box {
	display: block;
	/* width: 90%; */
	border: 1px solid darkcyan;
	border-radius: 5px;
	height: 35px;
}
/* 阴影样式 */
.cz-shadow {
	box-shadow: 2px 5px 10px #aaa;
}
/* 头像 */
.cz-avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
/* 导航 */
.cz-list {
	display: inline-block;
	line-height: 70px;
	
}

.cz-list li {
	display: inline-block;

}

/* 超链接样式 */
.cz-list li a {
	color: #eee;
}

/* 文章样式 */
.media-wraaper {
	display: flex;
	min-height: 120px;
	height: 180px;
	margin: 10px;
	border-radius: 5px;
	padding: 10px;
}

.media-left {
	flex: 1 1 18%;
	text-align: center;
	margin-right: 15px;
}

.media-middle {
	flex: 1 1 60%;
	margin-right: 15px;
}

.media-right {
	flex: 1 1 22%;
	height: 100%;
}

.media-middle  > a {
	color: #FB8C00;
	font-size: 18px;
	font-weight: 700;
}

.media-right img {
	width: 95%;
	height: 80%;
	border-radius: 10px;
}